 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/Styles/About.css">
 </head>
 <body style="background-color: black;">
 <!--About Starts Here-->
 <div id="About">
  <h2 >TUSHAR R KOLI</h2>
  <hr style="width:400px" >
  
  <p id="Description">
Hello There! <br>
I am Tushar R Koli, a seasoned professional in the realm of technology hailing from the vibrant state of Maharashtra, India. With a Bachelor's degree in Computer Science and the distinction of being a Certified AWS Architect - Associate, I have dedicated myself to the dynamic world of IT. 
<br>
My journey has been marked by a fervent pursuit of excellence and a relentless drive to master the intricacies of cloud architecture and computing. I take pride in having achieved several certifications that showcase my commitment to staying at the forefront of technological advancements. 
<br>

Renowned for my adeptness in creating robust and scalable cloud solutions, I have garnered recognition for my proficiency in translating intricate technical concepts into actionable strategies. My dedication to innovation and my ability to seamlessly navigate complex challenges have earned me a reputation as a reliable and forward-thinking professional.

As an enthusiastic learner and a proactive problem solver, I consistently seek opportunities to refine my skills and contribute to transformative projects. I am excited to connect with fellow professionals, share insights, and collaborate on initiatives that push the boundaries of what technology can achieve.

Looking forward to engaging with like-minded individuals who share a passion for technology and its limitless possibilities.
  </p>

  <div id="Skills">
     <h3>My Skills</h3>
     <p>Creativity</p>
     <div id="white">
        <div id="dark-grey" style="height:28px;width:85%"></div>
      </div>

      <p>Web Design</p>
      <div id="white">
        <div id="dark-grey" style="height:28px;width:80%"></div>
      </div>

      <p>Pressure Handeling</p>
      <div id="white" style="height:28px;width:100%;"   >
        <div id="dark-grey" style="height:28px;width:90%;;"></div>
      </div>
      <br>
      <br>
  </div>
     </div>
    
    
     <!--About Ends Here-->
 </body>
 </html>