<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <!-- Contact Starts-->
    <div>
        <div id="Contact">
           <p>Contact</p>
        <ul id="ContactDetails">
           <li> <i class="fa fa-whatsapp" aria-hidden="true" style="font-size:30px" color="white"> Contact:- 8623865076</i> </li>
             
           <li><i class="fa fa-envelope-o" aria-hidden="true"></i> Email:- trendinghub0707@gmail.com </i> </li>
           

        </ul>
        

      
     </div>
     </div>
      <!--Contact Ends-->
     
</body>
</html>