<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    
    <div id="Selfintro">
       
        <div id="Header" >
            <div id="Intro">
               <div id="Name">
                    <H1 >                    
                       Tushar R Koli
                    </H1>
               </div>
              <div id="Edu">
                <p>
                      Bsc Computer Science (BCS)
                </p>
               
                  <p>
                         <a href="#Certificates">Certified AWS Associate</a>
                  </p>
             </div>
            <div id="Photo">
                   <img src="Assests/Photos/TK_BlackWhite_GreenShirt_2_.jpg" alt="Photo" height="900px" width="992px">
                   

            </div>
            
          </div>

       </div>
    

</div>

</body>
</html>